@import "tailwindcss";
@keyframes blob {
    0%, 100% { transform: translate(0px, 0px) scale(1); }
    33% { transform: translate(30px, -50px) scale(1.1); }
    66% { transform: translate(-20px, 20px) scale(0.9); }
  }
  
  .animate-blob { animation: blob 8s infinite; }
  .animation-delay-2000 { animation-delay: 2s; }
  .animation-delay-4000 { animation-delay: 4s; }
  .glow-on-hover:hover { box-shadow: 0 0 15px 2px rgba(147, 13, 242, 0.5); }
  

.login-button{
    background-color: #930df2;
} 
.login-button:hover {
    background-color: #7a0ad1; /* slightly darker hover */
    box-shadow: 0 0 15px 2px rgba(147, 13, 242, 0.5); /* glow effect */
  } 
